.logo{
    margin-left: auto;
}
.logo img{
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header p{
    margin:4px
}
.header h2,.footer p{
    margin: 4px;
}
.footer{
  
    display: flex;
    flex-direction: row;
    align-items: center;
}
.actions{
    margin-right: auto;
}
.outerdiv{
    max-width: 36rem;
    width: 90%;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin: 15px auto;
    padding: 0.5rem 1rem 1rem;
}
.description p{
    margin:4px;
}
.button {
    font: inherit;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }

  
  .button:hover,
  .button:active {
    background: black;
    border-color: black;
    color: white;
  }
  
  .button:focus {
    outline: none;
  }